body {
    text-align: center;
}

#score {
    font-size: 150%;
    margin-top: 5px;
}

li {
    padding-left: 20px;
    margin-left: 60px;
    text-align: left;
}

p {
    color: green;
    font-size: 200%;
}

.titles {
    width: 450px;
    float: left;
    margin-right: -40px;
    margin-top: 40px;
    text-align: center
}

.game {
    margin-top: -30px;
}