body {
    text-align: center;
}

#score {
    font-size: 150%;
    margin-top: 5px;
}

li {
    padding-left: 20px;
    margin-left: 90px;
    text-align: left;
}

p {
    color: green;
    font-size: 200%;
}

.titles {
    width: 500px;
    float: left;
    margin-right: -200px;
    margin-top: 150px;
    text-align: center
}

.game {
    margin-top: -30px;
}